body {
    padding: 0;
    margin: 0;
}

.site-header{
    display: block;
    margin: -25px; 
}

.header-img{
    display: block;
    margin: 25px auto;
    width: 105%;
}

/* Navigation Bar */
.container {
    position: absolute;
    margin-top: -40px;
    width: auto;
}

.nav{
    width: auto;
}
li{
    display: inline-block;
    padding: 0px 25px 0px 15px;
    text-transform:uppercase;
    font-family:'Raleway' , sans-serif;
    font-size: 11px;
    font-weight: bold;
     
}
a:link, a:visited{
    text-decoration: none;
    color: #f1f1f1;
}

a.b{
    color: #efc011;
}
/* style for the dropdown list */
.dropbtn1 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content1 a {
    color: #002e5d;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
}
  
.dropdown-content1 a:hover {
    background-color: #f1f1f1;
    color: #efc011;
}
  
.dropdown:hover .dropdown-content1 {
    display: block;
}

a:hover, .dropdown:hover .dropbtn{
    color:#efc011;
}
.dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: #002e5d;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #efc011;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

a:active{
    color: #efc011;
}

/* style for category title */
.page-title{
    font-family: 'Raleway', sans-serif;
    color:#002e5d;
    font-size: 2em;
    text-align: center;
    padding-top: 1px;
    margin: -3%;
    text-transform: uppercase;
}

.page-title::after{
    content: "";  
    display: block; 
    margin: -4% auto; 
}

/* style for buttons */

.batch1, .batch5, .batch9, .batch13, .batch17, .batch21 {
    position: relative;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #002e5d;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 15%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

.batch2, .batch3, .batch4, .batch6, .batch7, .batch8, .batch10, .batch11, 
.batch12, .batch14, .batch15, .batch16, .batch18, .batch19, .batch20, .batch22, .batch23, 
.batch24 {
    position: relative;
    border: none;
    background-color: #002e5d;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.batch25{
    position: relative;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #002e5d;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 25%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.batch26, .batch27{
    position: relative;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #002e5d;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}